body {
    font-family: Arial, sans-serif;
    background-color: #f28eff;
}

@media only screen and (max-width: 414px) {
    body, h1, h2, h3, p {
        margin: 0;
        padding: 0;
    }
    
    header {
        background-color: #ad3abd;
        padding: 10px;
        text-align: center;
        border-radius: 20px;
        position: static;
    }
    
    
    .section1 {
        margin: 20px;
    }
    
    h1 {
        color: #000000;
    }
    
    h2 {
        margin-bottom: 10px;
        background-color: #ad3abd;
        border-radius: 20px;
        padding: 10px;
    }

    button {
        background-color: #FF668A;
        font-family: 'Arial', sans-serif;
        font-weight: bold;
        color: #000000;
        padding: 10px 20px;
        font-size: 16px;
        border: none;
        cursor: pointer;
        border-radius: 25px;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
    }
    

    button:hover {
        background-color: #2980b9;
    }
}


