body {
    font-family: Arial, sans-serif;
    background-color: #f28eff;
}

@media only screen and (max-width: 414px) {
    body, h1, h2, h3, p {
        margin: 0;
        padding: 0;
    }
    
    header {
        background-color: #aa5eb4;
        padding: 10px;
        text-align: center;
        border-radius: 20px;
        top: 5px;
        position: absolute;
    }
    
    
    .section1 {
        margin: 20px;
    }
    
    h1 {
        color: #000000;
    }
    
    h2 {
        margin-bottom: 10px;
    }
    
   
    a {
        color: #007BFF;
        text-decoration: none;
    }
    
    a:hover {
        text-decoration: underline;
    }


}

